<link rel="stylesheet" href="css/gpt.css">
<div id="container">
    <div id="gpt-container">
        <label for="gpt-input">Ask GPT A Question</label>
        <input type="text" id="gpt-input" />
        <button id="gpt-button">Ask</button>
        <textarea name="gpt-response" id="gpt-response" cols="80" rows="10"></textarea>
    </div>
    
</div>
<script type="module" src="js/askgpt.js"></script>