<div>
    <h2>{{username}} Dashboard</h2>
    <h3 id="selected-deck">Select a Deck</h3>
    <button id="newdeck-btn" class="btn btn-light">New Deck</button>
    <button id="newfc-btn" class="btn btn-light">New Card</button>
    <button id="edit-btn" class="btn btn-light">Edit</button>
    <button id="review-btn" class="btn btn-light">Review</button>
    {{#each Decks}}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{name}}</h4>
                <button name="{{name}}" id="{{id}}" class="deck-btn btn btn-secondary">Select</button>
            </div>
        </div>
    {{/each}}

</div>
<script src="./js/dashboard.js"></script>