<link rel="stylesheet" href="css/ask.css">
<div id="card-container">
    <section id="flashcard">
        <h1 id="deck-name"></h1>
        <h2 id="time-label">Hey GPT get me a joke!</h2>
        <button id="flip">Flip</button>
        <button id="gpt-response">Get Joke</button>
        <h2 id="card-data"></h2>
        <div id="tracker-container"></div>
    </section>
</div>
<script type="module" src="js/jokegpt.js"></script>