<h2 id="main-banner">Login or Signup to continue. <br> If this is your first time here please try our sample deck by clicking the "start" button</h2>
<div id="sample-deck">
    <button id="start">Start</button>
</div>
<script src="js/sample.js"></script>