<div>
    <h4>New Deck</h4>
    <form id="deck-form">
        <label for="new-deck-name">Deck Name</label>
        <input type="text" id="new-deck-name">
        <button type="submit"  class="btn btn-light">Submit</button>
    </form>
</div>
<script src="js/newdeck.js"></script>