<div>
    <h4>New Flashcard</h4>
    <form id="fc-form">
        <label for="new-fc-name">Flashcard Name</label>
        <input type="text" id="new-fc-name">
        <label for="new-fc-front">Front of Flashcard</label>
        <input type="text" id="new-fc-front">
        <label for="new-fc-back">Back of Flashcard</label>
        <input type="text" id="new-fc-back">
        <button type="submit" id="new-fc-btn">Submit</button>
    </form>
</div>
<script src="js/newfc.js"></script>