<div id="{{id}}" class="transfer-id"></div>
<div id="card-container">
    <section id="flashcard">
        <h1 id="deck-name"></h1>
        <h2 id="time-label">Time: </h2>
        <button id="flip">START</button>
        <h2 id="card-data"></h2>
        <div id="interval-buttons">
            <button id="a">A</button>
            <button id="b">B</button>
            <button id="c">C</button>
            <button id="d">D</button>
        </div>
        <div id="tracker-container"></div>
    </section>
    <script type="module" src="js/srsreview.js"></script>
    <script type="module" src="js/interval.js"></script>
    <script type="module" src="util/tracker.js"></script>
</div>