<div>
  <h1>Signup here</h1>
  <form id="login-form">
   <label for="username-input"></label>
    <input type="text" id="username-input" placeholder="Username">

    <label for="password-input"></label>
    <input type="password" id="password-input" placeholder="Password">



    <button type="submit">Submit</button>
  </form>
</div>
<script src="js/signup.js"></script>