<div>
    <section id="flashcard">
        <h2 id="timer">0</h2>

        <button id="flip">Flip</button>
        <h1 id="card-data"></h1>
        <div id="interval-buttons">
            <button id="a">A</button>
            <button id="b">B</button>
            <button id="c">C</button>
            <button id="d">D</button>
        </div>
    </section>
    <script src="js/script.js"></script>
</div>