 body {
     background-color: #441478;
 }

 #container {

     display: flex;
     flex-direction: column;
 }

 #gpt-container {
     display: flex;
     flex-direction: column;
 }

 #time-label{
    color: rgb(51, 219, 174);
    text-shadow: 1px 2px 3px black;
 }
 
 #card-data {
     display: flex;
     flex-direction: column;
     padding: 5px 20px;
     color: white;
     font-family: 'Courier New', Courier, monospace;
     font-size: 28px;
 }
 #gpt-response{
    width: max-content;
    border-style: unset;
    border-radius: 8px;
    border-color: black;
    background-color: yellow;
    font-size: 18px;
    padding: 5px;
    align-self: center;
 }

  #gpt-response:hover{
    background-color: rgb(225, 144, 31);
    color: honeydew;
    cursor: pointer;
}

 label {
     margin: 2px;
     align-self: center;
     font-size: 28px;
     font-weight: bold;
     color: honeydew;
 }

 #gpt-input {
     border: 6px solid darkcyan;
     width: 400px;
     height: 40px;
     margin: 10px;
     margin-bottom: 25px;
     align-self: center;


 }

 /* gpt css framework that generates using input for each element type and describe each item etc.. */
 #gpt-button {
     background-color: darkcyan;
     border-style: unset;
     width: 100px;
     height: 30px;
     margin: 10px;
     align-self: center;
     font-family: 'Courier New', Courier, monospace;
     font-size: 20px;
     font-weight: bold;
     color: honeydew;
 }

 textarea {
     border: 5px solid darkcyan;
     width: 400px;
     height: 200px;
     margin: 10px;
     align-self: center
 }