:root {
    --primary:rgb(21, 17, 17);
    --secondary: rgb(59, 56, 56);
    --text: white;
    --btn: rgb(36, 118, 241);
}
* {
    box-sizing: border-box;
  }

  body {
    background-color:var(--primary);
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--text);
    line-height: 1.5;
    font-size: 16px;
  }
  
  .navbar {
    width: 100%;
    position: fixed;
    background-color:var(--secondary);
    display: flex;
    flex-direction: row;
    list-style-type: none;
  } 
  
  .nav-item {
    margin: 0 40px;
  }
  
  .nav-item a {
    color: var(--text);
  }
  
.hero {
    padding: 4% 4% 1%;
    background-color:var(--secondary);
    color: var(--text);
  } 
  li {
  display: inline;
  justify-content: space-between;
}

#sample-deck {
  text-align: center;
}

#start {
  background-color:var(--btn);
  border-color: white;
  border-radius: 8px;
  margin: 0 10px;
  width: fit-content;
  font-size: 22px;
}

#login {
  display: flex;
  justify-content: center;
}

#signup {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 940px) {
#app-title {
  display: none;
}
#sample-deck {
  margin-top: 20vh;
}
#login {
  margin-top: 20vh;
}
#signup {
  margin-top: 20vh;
}
#card-container {
  margin-top: 20vh;
}
}