@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

:root {
    --primary:rgb(21, 17, 17);
    --secondary: rgb(59, 56, 56);
    --text: white;
    --btn: rgb(36, 118, 241);
}

#flashcard{
    display: flex;
    flex-direction: column;
    background-color:rgb(95, 17, 184);
    border: 4px solid var(--btn);
    border-style: outset;
    height: 500px;
    width: 375px;
    margin-top: 30px;
    font-family: 'Zen Antique', serif;
}

#deck-name{
    padding-left: 15px;
}

#time-label{
    padding-left:10px;
    color: black;
    font-size: 30px;
}

#flip{
    background-color:var(--btn);
    border-color: black;
    border-radius: 8px;
    margin:30px 10px;
    width: fit-content;
    align-self: center;
    font-size: 24px;

}
#flip:hover{
    font-size: 28px;;
}

#interval-buttons{
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: flex-end;
    margin-top:40px;
    margin-bottom: 10px;
}
#a, #b, #c, #d{
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 8px;
    width: 50px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 22px;
    
}
#a{
    background-color: green;
}
#b{
    background-color: greenyellow;
}
#c{
    background-color: yellow;
}
#d{
    background-color: red;
}

#a:hover, #b:hover, #c:hover, #d:hover{
    cursor:grab;
    border-style: unset;
    font-size: 28px;
}

#tracker-container{
    text-align: center;
    color:rgb(4, 4, 78);
    font-size: 16px;
    font-family:'Zen Antique',
        serif;
}

