#flashcard{
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    border: 2px solid black;
    height: 500px;
    width: 300px;
}

#timer{
    padding-left:10px;
}

#flip{
    background-color:cadetblue;
    border-color: black;
    border-radius: 8px;
    margin:0 10px;
    width: fit-content;
    align-self: center;
    font-size: 22px;

}
#interval-buttons{
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: flex-end;
    margin: 5px;
}
#a, #b, #c, #d{
    border: 1px solid black;
    width: 30px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    
}
#a{
    background-color: green;
}
#b{
    background-color: greenyellow;
}
#c{
    background-color: yellow;
}
#d{
    background-color: red;
}

#a:hover, #b:hover, #c:hover, #d:hover{
    cursor:grab;
    border-style: unset;
}

